*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: #000;
}

.tt{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.verde{
    background-color: green;
    font-size: 2em;
}

.rojo{
    background-color: red;
    font-size: 4em;
}

.testText{
    text-align: center;
}

.test button{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 300px;
}